@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,400;6..12,800&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    padding: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 125px;
}
main section {
    color: white;
    padding: 25px;
    border: 3px solid #fff;
    border-radius: 25px;
    background-color: #222222;
}
.menu {
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 25px;
    margin-top: 25px;
}
form {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: 5px;
}
footer {
    text-align: center;
    margin: 50px;
}